doctype html
html(lang="en")
  head
    title Eru's Game
    meta(charset="UTF-8")
    link(rel="stylesheet", href=assetURL + 'assets/bundle.css')
  body(data-ng-app="thegame")
    include ./views/login.jade
    include ./views/chat.jade
    script(type='text/javascript', src=assetURL + 'assets/vendor.js')
    script(type='text/javascript', src=assetURL + 'assets/bundle.js')
